.stone {
  padding: 15px;
  border: solid black 3px;
  border-radius: 100%;
  display: inline-block;
  cursor: pointer;
  background-color: #d3d3d3;
  z-index: 1;
}

.row {
  height: 300px;
}

#left-side {
  background-color: orange;
  height: inherit;
}

#right-side {
  background-color: blue;
  height: inherit;
}

#weigh {
  display: block;
  margin: 20px auto;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20pt;
}
