.stone {
  padding: 15px;
  border: solid black 3px;
  border-radius: 100%;
  display: inline-block;
  cursor: pointer;
  background-color: #d3d3d3;
}

.row {
  position: relative;
  height: 300px;
  z-index: -1;
}

#left-side {
  background-color: orange;
  height: inherit;
}

#right-side {
  background-color: blue;
  height: inherit;
}
