.stone {
  padding: 15px;
  border: solid black 3px;
  border-radius: 100%;
  display: inline-block;
  cursor: pointer;
  background-color: #d3d3d3;
  z-index: 1;
}

.row {
  height: 300px;
  margin-top: 15px
}

#left-side {
  background-color: orange;
  height: inherit;
}

#right-side {
  background-color: blue;
  height: inherit;
}

#left-heavier, #left-lighter, #right-heavier, #right-lighter, #equal, #scale-used, #correct, #incorrect, #answer-submit {
  display: none;
  font-size: 20pt;
}

#weigh {
  display: block;
  margin: 20px auto;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20pt;
}

#equal {
  text-align: center;
}

#right-lighter {
  float: right;
  margin-right: 15%;
}

#right-heavier {
  float: right;
  margin-right: 15%;
}

#left-lighter {
  margin-left: 15%;
}

#left-heavier {
  margin-left: 15%;
}

#scale-used {
  text-align: center;
}

#answer-submit {
  text-align: center;
}

#correct {
  text-align: center;
}

#incorrect {
  text-align: center;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 14pt;
}
